@media screen and (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    gap: 5px;
  }

  h1, h2 {
    font-size: 20px;
  }

  .eventCard {
    padding: 10px;
  }

  table, th, td {
    font-size: 14px;
  }

  .description {
    font-size: 16px;
  }
}
